/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.navbar {
    font-family: 'Playfair Display', serif;
}

body {
    font-family: 'Fira Sans Condensed', sans serif;
}

.jumbotron {
    background-image: url("../img/office-625893_1280.jpg");
    background-size: cover;
    height: 400px;
    width: 100%;
}

.video-page {
    background: url("../img/rockywall.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
